In [21]:
def remove_building_meter(file,list):
    for entry in list:
        file.drop(file[(file['building_id'] == entry[0]) & (file['meter'] == entry[1])].index,inplace=True)

In [22]:
import numpy as np
import pandas as pd
import gc

gc.collect()

121

In [30]:
combDF = pd.read_csv('../data/combDF.csv')

combDF.drop(columns = ['year_built','floor_count','cloud_coverage','precip_depth_1_hr'],
            inplace=True)

#removing Nan values (could use imputing for these rows instead)
combDF.dropna(inplace = True)

In [31]:
combDF[(combDF['building_id'] == 1021) & (combDF['meter'] == 3)]

,site_id,building_id,primary_use,square_feet,meter,timestamp,meter_reading,air_temperature,dew_temperature,sea_level_pressure,wind_direction,wind_speed,hour,weekday,month
12327282,10,1021,Entertainment/public assembly,213762,3,2016-01-01 01:00:00,16.1056,-10.6,-13.9,1036.7,0.0,0.0,1,4,1
12327330,10,1021,Entertainment/public assembly,213762,3,2016-01-01 02:00:00,0.0000,-11.1,-13.9,1036.9,0.0,0.0,2,4,1
12327378,10,1021,Entertainment/public assembly,213762,3,2016-01-01 03:00:00,0.0000,-10.0,-15.0,1036.9,280.0,2.6,3,4,1
12327427,10,1021,Entertainment/public assembly,213762,3,2016-01-01 04:00:00,0.0000,-13.3,-15.6,1037.8,230.0,1.5,4,4,1
12327476,10,1021,Entertainment/public assembly,213762,3,2016-01-01 05:00:00,0.0000,-14.4,-17.2,1037.3,310.0,4.1,5,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12738401,10,1021,Entertainment/public assembly,213762,3,2016-12-31 20:00:00,0.0000,-4.4,-7.8,1018.8,170.0,2.1,20,5,12
12738447,10,1021,Entertainment/public assembly,213762,3,2016-12-31 21:00:00,57499.5000,-4.4,-7.2,1017.9,0.0,0.0,21,5,12
12738493,10,1021,Entertainment/public assembly,213762,3,2016-12-31 22:00:00,47883.0000,-4.4,-7.2,1017.8,120.0,2.1,22,5,12
12738539,10,1021,Entertainment/public assembly,213762,3,2016-12-31 23:00:00,46678.2000,-5.0,-7.8,1017.4,310.0,1.5,23,5,12
12738552,10,1021,Entertainment/public assembly,213762,3,2016-12-23 02:00:00,0.0000,-2.8,-6.1,1018.5,0.0,0.0,2,4,12

In [32]:
building_meter_remove = [[1099,2], [778,1], [1021,3]]
remove_building_meter(combDF,building_meter_remove)

In [33]:
combDF[(combDF['building_id'] == 1021) & (combDF['meter'] == 3)]

Empty DataFrame
Columns: [site_id, building_id, primary_use, square_feet, meter, timestamp, meter_reading, air_temperature, dew_temperature, sea_level_pressure, wind_direction, wind_speed, hour, weekday, month]
Index: []